body{
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 2px 2px 10px hsla(217, 45%, 22%, 0.171);
    border-radius: 20px;
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
}

.img{
    background-image: url(image-qr-code.png);
    border-radius: 12px;
    background-size: contain;
    margin: auto auto;
    margin-top:20px;
    width: 288px;
    height: 288px;
}

.title{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 255px;
    padding-top: 30px;
    margin: auto auto;
    text-align: center;
    padding: auto auto;
}

.description{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(134, 134, 134);
    width: 255px;
    text-align: center;
    padding: auto auto;
    margin: auto auto;
    padding-top: 12px;
}